.intro_modal {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.intro_modal_container {
    height: 45%;
    width: 35%;
    border: 3px solid #d1d7e0;
    background-color: #564f6f;
    display: grid;
    grid-template-rows: 8fr 2fr;
    border-radius: 20px;
}

.intro_modal_container > div{
    height: 100%;
    width: 100%;
}

.message_to_user_outer_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_to_user_inner_container {
    height: 90%;
    width: 90%;
    background-color: #d1d7e0;
    color:#2d283e;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.continue_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules_text_container {
    height: 80%;
    width: 80%;
}

.continue_button {
    border:#d1d7e0 solid 1px;
    border-radius: 20px;
    height: 50%;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue_button:hover {
    cursor: pointer;
    color: #2d283e;
    background-color: #d1d7e0;
    transition: .5s;
}